// Import styles here

body {
  margin: 0;
}

svg path {
  fill: currentColor;
  stroke: currentColor;
}

canvas {
  position: absolute;
  pointer-events: none;
}

.particleNode {
  pointer-events: none;
}

#arrow {
  fill: currentColor;
  stroke: currentColor;
  shape-rendering: crispEdges;
}

/* Mike Bostock's styles */
.link line {
  stroke: #aaa;
}

.node circle {
  pointer-events: all;
  stroke: none;
  stroke-width: 40px;
}

.tooltip {
  position: absolute;
  padding: 15px;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  background: #111;
  color: #bbb;
  border: 0px;
  border-radius: 2px;
  pointer-events: none;
  opacity: 0.85;
  visibility: hidden;
  cursor: pointer;
}